.main-chat
  .main-chat__index
    .main-chat__index__left
      .main-chat__index__left__top
        = @group.name
      .main-chat__index__left__bottom
      - @group.users.each do |user|
        = user.name
    .main-chat__index__right 
      = link_to edit_group_path(@group) do
        Edit

  .main-chat__messages
    = render @messages
  
  .main-chat__message__form
    = form_for [@group, @message] do |f|
      .new_message__box
        = f.text_field :content, class: 'new_message__box__left', placeholder: 'type a message'
        = f.label :image, class: 'new_message__box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'display__hidden'
      = f.submit 'Send', class: 'new_message__btn'

